DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DATABASE_URL=
MEDIA_ROOT=
SERVE_MEDIA=True
DJANGO_SECURE_SSL_REDIRECT=False
ADMIN_EMAIL=
ADMIN_PASSWORD=
